schema/schemaLegislationMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.legislation.gov.uk/namespaces/metadata" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:leg="http://www.legislation.gov.uk/namespaces/legislation" xmlns:dct="http://purl.org/dc/terms/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:errl="http://www.legislation.gov.uk/namespaces/error" xmlns:h="http://www.w3.org/1999/xhtml" targetNamespace="http://www.legislation.gov.uk/namespaces/metadata" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.6" id="schemaLegislationMetadata">
	<xsd:annotation>
		<xsd:appinfo xmlns:dcq="http://purl.org/dc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/">
			<dc:title>Legislation Specific Metadata Schema</dc:title>
			<dc:description>Describes legislation metadata</dc:description>
			<dc:contributor>Paul Appleby</dc:contributor>
			<dc:creator>TSO</dc:creator>
			<dc:identifier>schemaLegislationMetadata</dc:identifier>
			<dc:language>en</dc:language>
			<dc:publisher>The Stationery Office</dc:publisher>
			<dc:rights>Crown copyright 2018</dc:rights>
			<dc:date>
				<dcq:created>2017-08-25</dcq:created>
			</dc:date>
			<dc:date>
				<dcq:modified>2023-06-02</dcq:modified>
			</dc:date>
			<xsd:documentation>
			Namespace information:
			This schema is defined as being the in the namespace 'http://www.legislation.gov.uk/namespaces/metadata'
			The suggested namespace prefix is ukm ([U]nited [K]ingdom legislation [M]etadata)
			</xsd:documentation>
			<xsd:documentation>
			Modification information
			Version	Name                Modification
			2.6     William Jonadoss    Added Print attribute, Moved DocumentCategory element definition out of DocumentClassification so it can be used outside of that context (for PublicationLog.xsd)
			2.5     Karl Rajangam       Added attributes WelshApplied and RequiresWelshApplied, and annotations for attributes Applied, RequiresApplied and element InForce
			2.4     Karl Rajangam       ISBN attribute added to element Correction, its Number attribute made optional to support draft docs
			2.4     Karl Rajangam       Annotation added to elements BlanketAmendment, Statistics, ImpactAssessment, Sifted, Made, Laid, AlterType, Citation, OtherDocument, TranspositionNote, UKRPCOpinion, ProvisionsStructure, ConfersPower and IAalterType along with some of theirs and various other attributes. Updated DocumentMainType.
			2.3     Colin Mackenzie     As part of #172192631 changed DocumentCategory/@Value to reuse a common type
			2.2     William Jonadoss    Declared elements "PolicyEqualityStatements" and "ExplanatoryDocuments" as part of "Alter" group
			2.2     William Jonadoss    Created top level schema for amendment data - Effects
			2.1     Colin Mackenzie     Renamed TSOmetadata to LegislationMetadata
			2.1     Colin Mackenzie     Added value of "WelshParliament" to be used for all new Welsh Secondary legislation
			2.1     Colin Mackenzie     Changed the model for InForce Qualification attribute to enforce a choice of enumerated values
			2.1     Colin Mackenzie     Changed the model for the attributes on ukm:Correction to have stricter validation rules
			2.1     Colin Mackenzie     Changed to use common definition of types of UKMinorType from SchemaLegislationMetadata so that definitions can be reused in IAs and ENs etc
			2.0     Colin Mackenzie     Numbering restarted at 2 for new EU and merged schema
			2.0     W Holmes            Changes to Section and Sectionrange element 
			2.0     W Holmes            Declared elements "OtherDocuments", "TranspositionNotes" and "UKRPCOpinions" as part of "Alter" group
			2.0     W Holmes            Changes to UnappliedEffect element 
			2.0     Jim Mangiafico      Expanded to accommodate European Union legislation
			2.0     Colin Mackenzie     Unified model between editorial and legislation live
			2.4     TSO                 Added Sifted date
			2.3     TSO                 Added UnitedKingdomMinisterialDirection
			2.2     W Holmes            Declared elements "OtherDocuments", "TranspositionNotes" and "UKRPCOpinions" as part of "Alter" group 
			2.1     W Holmes            Declared element "AlternativeNumber" as child of "Supersedes"
			2.0     strutj01            Changed Copyright TSO to Crown Copyright at Carey's request			
			1.6     Paul Appleby        Changed nomenclature to agreed OPSI format. Added wales to laid list
			1.5     Paul Appleby        Added local Statutory Rules as possible document type
			1.4     Paul Appleby        Substituted qualified Dublic Core for the existing simple DC
			1.3     Paul Appleby        Added AlternativeNumber into primary metadata as a fix - should not have been omitted
			1.2     Paul Appleby        Added ireland to enumerate list of laid classes
			1.1     Paul Appleby        Altered Metadata content model to directly reference dc element. Word 2003 was claiming non-determinism - I think due to the way the dc module is coded.
			1.0     Paul Appleby        Created
			</xsd:documentation>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:include schemaLocation="schemaLegislationMetadataEU.xsd"/>
	<xsd:import namespace="http://www.legislation.gov.uk/namespaces/legislation" schemaLocation="../schemaModules/schemaCommon.xsd"/>
	<xsd:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="../schemaModules/dc.xsd"/>
	<xsd:import namespace="http://www.w3.org/2005/Atom" schemaLocation="../schemaModules/atom.xsd"/>
	<!-- Not needed and causes MSXML error in pub version 
		<xsd:import namespace="http://www.legislation.gov.uk/namespaces/legislation"
		schemaLocation="legislation.xsd"/>-->
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../schemaModules/namespace.xsd"/>
	<xsd:import namespace="http://www.legislation.gov.uk/namespaces/error" schemaLocation="../schemaModules/ukGovErrors.xsd"/>

	<xsd:element name="Metadata">
		<xsd:annotation>
			<xsd:documentation>A container for the metadata of the document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="leg:StandardMetadata"/>
				<xsd:group ref="LegislationMetadata"/>
				<xsd:group ref="leg:ExtraMetadata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:group name="LegislationMetadata">
		<xsd:annotation>
			<xsd:documentation>Legislation specific metadata</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="PrimaryMetadata"/>
				<xsd:element ref="SecondaryMetadata"/>
				<xsd:element ref="EUMetadata"/>
			</xsd:choice>
			<xsd:element ref="SupersededBy" minOccurs="0"/>
			<xsd:element ref="Supersedes" minOccurs="0"/>
			<xsd:element ref="ConfersPower" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="BlanketAmendment" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:group ref="Alter" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Statistics" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>

	<xsd:element name="ConfersPower">
		<xsd:annotation>
			<xsd:documentation>Specifies that a provision confers power to make secondary legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="IdURI" type="xsd:anyURI" use="required">
				<xsd:annotation>
					<xsd:documentation>The URI of a provision that confers power to make subordinate legislation.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="title" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>The title of the provision.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="BlanketAmendment">
		<xsd:annotation>
			<xsd:documentation>Is a term used to indicate the provision contains an amendment that affects the legislation in general rather than for a specific provision(s). For example where a provision indicates a change to a term 'wherever it occurs in the affected legislation'.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="IdURI" type="xsd:anyURI" use="required"/>
			<xsd:attribute name="title" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SupersededBy">
		<xsd:annotation>
			<xsd:documentation>Defines the legislation that has superseded this legislation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="dc:title"/>
				<xsd:element ref="DocumentMainType"/>
				<xsd:element ref="Year"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="Number"/>
						<xsd:element ref="ISBN" minOccurs="0"/>
						<xsd:element ref="AlternativeNumber" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:element ref="ISBN"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Supersedes">
		<xsd:annotation>
			<xsd:documentation>Defines the legislation that this legislation has superseded.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="dc:title"/>
				<xsd:element ref="DocumentMainType"/>
				<xsd:element ref="Year"/>
				<xsd:element ref="ISBN"/>
				<xsd:element ref="AlternativeNumber" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Statistics">
		<xsd:annotation>
			<xsd:documentation>
				<h:p>Holds statistics about the document.</h:p>
				<h:p>Legislation.gov.uk generates the statistics within the <h:code>&lt;Statistics></h:code> automatically on each page load. The website frontend uses the statistics to determine the behaviour of the links in the sidebar that open all or part of the item. If there are more than a certain number of paragraphs in the part to be opened, the website will warn the user before navigating to the part and allow them to cancel navigation.</h:p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TotalParagraphs" minOccurs="0"/>
				<xsd:element ref="BodyParagraphs" minOccurs="0"/>
				<xsd:element ref="ScheduleParagraphs" minOccurs="0"/>
				<xsd:element ref="AttachmentParagraphs" minOccurs="0"/>
				<xsd:element ref="TotalImages" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PrimaryMetadata">
		<xsd:annotation>
			<xsd:documentation>Metadata for primary legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="DocumentClassification"/>
				<xsd:element ref="Year"/>
				<xsd:element ref="Number"/>

				<xsd:element ref="ISBN" minOccurs="0"/>
				<xsd:element ref="AlternativeNumber" minOccurs="0"/>
				<xsd:element ref="EnactmentDate" minOccurs="0"/>
				<xsd:element ref="ComingIntoForce" minOccurs="0"/>
				<xsd:element ref="UnappliedEffects" minOccurs="0"/>
				<xsd:element ref="Citations" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SecondaryMetadata">
		<xsd:annotation>
			<xsd:documentation>Metadata for secondary legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DocumentClassification"/>
				<xsd:element ref="Year"/>
				<xsd:element ref="Number" minOccurs="0"/>
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ISBN" minOccurs="0"/>
					<xsd:element ref="AlternativeNumber" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="DepartmentCode" minOccurs="0"/>
					<xsd:element ref="Sifted" minOccurs="0"/>
					<xsd:element ref="Made" minOccurs="0"/>
					<xsd:element ref="Laid" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ComingIntoForce" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="Resolution" minOccurs="0"/>
						<xsd:element ref="RoyalPresence" minOccurs="0"/>
					</xsd:choice>
					<xsd:element ref="UnappliedEffects" minOccurs="0"/>
					<xsd:element ref="Citations" minOccurs="0"/>
					<!-- #161958070 supported element -
					No examples found with text or element content
					element definition is found in
					schemaLegislationMetadataCorrection.xsd for all schemas except
					when editing publications using schemaLegislationbase-v1-0.xsd
					then it is in schemaLegislationMetadataCorrectionEdit.xsd-->
					<xsd:element name="Correction">
						<xsd:annotation>
							<xsd:documentation>
								<h:p>Certain items of legislation get corrected or are correcting. This information is used to connect the two items together.</h:p>
								<h:p>It is also possible to correct a draft legislation item. In that case the identifier of the other document should be used.</h:p>
								<h:p>When the data is past the published stage, only the attributes are present not the element content. This model is used for the data delivered by the website and bulk downloads. The data model has been made more strict (required attributes to match our expectations of data quality.</h:p></xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>If in publications editing then complete contents not attributes</xsd:documentation>
								</xsd:annotation>
								<xsd:element ref="DocumentMainType"/>
								<xsd:choice>
									<xsd:sequence>
										<xsd:element ref="Year"/>
										<xsd:element ref="Number"/>
										<xsd:element ref="dc:identifier" minOccurs="0"/>
									</xsd:sequence>
									<xsd:element ref="dc:identifier"/>
								</xsd:choice>
							</xsd:sequence>
							<xsd:attribute name="Type" use="required">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="corrects"/>
										<xsd:enumeration value="correctedBy"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<!-- if editing in publications then the following should not be used (used in delivered data) -->
							<xsd:attribute name="Class" type="leg:DocumentMainType" use="required">
								<xsd:annotation>
									<xsd:documentation>Do not set this attribute in publications editing (only for delivered data)</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<!-- Year 4 digit  -->
							<xsd:attribute name="Year" type="xsd:gYear" use="required">
								<xsd:annotation>
									<xsd:documentation>Do not set this attribute in publications editing (only for delivered data)</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="Number" type="xsd:integer" use="optional">
								<xsd:annotation>
									<xsd:documentation>Do not set this attribute in publications editing (only for delivered data)</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="ISBN" use="optional">
								<xsd:annotation>
									<xsd:documentation>This is used in draft documents. Do not set this attribute in publications editing (only for delivered data)</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="13"/>
										<xsd:minLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:group name="Alter">
		<xsd:annotation>
			<xsd:documentation>Metadata for alternatives legislation or Explanatory Notes</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="Notes"/>
			<xsd:element ref="PolicyEqualityStatements"/>
			<xsd:element ref="Alternatives"/>
			<xsd:element ref="CorrectionSlips"/>
			<xsd:element ref="CodesOfPractice"/>
			<xsd:element ref="CodesOfConduct"/>
			<xsd:element ref="TablesOfOrigins"/>
			<xsd:element ref="TablesOfDestinations"/>
			<xsd:element ref="OrdersInCouncil"/>
			<xsd:element ref="ImpactAssessments"/>
			<xsd:element ref="OtherDocuments"/>
			<xsd:element ref="ExplanatoryDocuments"/>
			<xsd:element ref="TranspositionNotes"/>
			<xsd:element ref="UKRPCOpinions"/>
		</xsd:choice>
	</xsd:group>

	<xsd:element name="Notes">
		<xsd:annotation>
			<xsd:documentation>Metadata for Explanatory Notes (ENs) and Explanatory Memorandums (EMs) for this legislation item</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="1" maxOccurs="unbounded">
				<xsd:element ref="Note"/>
				<xsd:element ref="Alternatives"/>
				<xsd:element ref="CorrectionSlips"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Note">
		<xsd:annotation>
			<xsd:documentation>Metadata for a single EN or EM for this legislation item</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attributeGroup ref="leg:OptionalURIs"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PolicyEqualityStatements">
		<xsd:annotation>
			<xsd:documentation>Group of Policy Equality Statements for this legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PolicyEqualityStatement" maxOccurs="unbounded" type="AlterType">
					<xsd:annotation>
						<xsd:documentation>Policy Equality Statement for this legislation</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ExplanatoryDocuments">
		<xsd:annotation>
			<xsd:documentation>Group of Explanatory Documents for this legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ExplanatoryDocument" maxOccurs="unbounded" type="AlterType">
					<xsd:annotation>
						<xsd:documentation>An explanatory document for the item of legislation</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Alternatives">
		<xsd:annotation>
			<xsd:documentation>Contains a set of alternative formats for the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Alternative" maxOccurs="unbounded" type="AlterType">
					<xsd:annotation>
						<xsd:documentation>An alternative format for the document</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CorrectionSlips">
		<xsd:annotation>
			<xsd:documentation>Group of correction slips on this legislation or note</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CorrectionSlip" maxOccurs="unbounded" type="AlterType">
					<xsd:annotation>
						<xsd:documentation>A correction slip on an item of legislation or explanatory note</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CodesOfPractice">
		<xsd:annotation>
			<xsd:documentation>Group of codes of practice for this legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodeOfPractice" maxOccurs="unbounded" type="AlterType">
					<xsd:annotation>
						<xsd:documentation>A correction slips on this legislation or note</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CodesOfConduct">
		<xsd:annotation>
			<xsd:documentation>Group of codes of conduct for this legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodeOfConduct" maxOccurs="unbounded" type="AlterType">
					<xsd:annotation>
						<xsd:documentation>A code of conduct for this legislation</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="TablesOfOrigins">
		<xsd:annotation>
			<xsd:documentation>Group of tables of origins for this legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TableOfOrigins" maxOccurs="unbounded" type="AlterType">
					<xsd:annotation>
						<xsd:documentation>A table of origin for this legislation</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="TablesOfDestinations">
		<xsd:annotation>
			<xsd:documentation>Group of tables of destinations for this legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TableOfDestinations" maxOccurs="unbounded" type="AlterType">
					<xsd:annotation>
						<xsd:documentation>A table of desitnations for this legislation</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="OrdersInCouncil">
		<xsd:annotation>
			<xsd:documentation>Metadata for Orders In Council</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="OrderInCouncil" maxOccurs="unbounded" type="AlterType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ImpactAssessments">
		<xsd:annotation>
			<xsd:documentation>Metadata for Impact Assessments</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ImpactAssessment" maxOccurs="unbounded" type="IAalterType">
					<xsd:annotation>
						<xsd:documentation>Links to an associated Impact Assessment, which assesses the impact of legislative proposals realised by the document. An Impact Assessment can be associated with one or many items of legislation (or not be associated with an item of legislation at all, if it assesses proposed policy changes yet to be drafted as legislation).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="AlterType">
		<xsd:annotation>
			<xsd:documentation>Defines attributes for associated documents</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="Date" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>The Published date of the associated item, in yyyy-mm-dd format</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="URI" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>The URI of the associated item, usually PDF</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Title" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The Title of the associated item</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TitleWelsh" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The Welsh language Title of the associated item</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Language" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The language of the associated item</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Size" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>The filesize of the associated item in kb</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<!-- Below attribute "Revised" always seems to be a date, not type="xsd:string" -->
		<xsd:attribute name="Revised" type="xsd:date" use="optional">
			<xsd:annotation>
				<xsd:documentation>This indicates the date of the latest revisions incorporated within the linked document</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Print" type="xsd:boolean" use="optional">
			<xsd:annotation>
				<xsd:documentation>This indicates whether this is a print or non-print PDF</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="IAalterType">
		<xsd:annotation>
			<xsd:documentation>Defines attributes for associated Impact Assessments and UK Regulatory Policy Commission Opinions</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="Date" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>The Published date of the Impact Assessment, in yyyy-mm-dd format</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="URI" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>The URI of the Impact Assessment, usually PDF</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Title" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The Title of the Impact Assessment</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TitleWelsh" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The Welsh language Title of the Impact Assessment</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Stage" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Indicates the stage of the development of the legislation to which the Impact Assessment relates, which may be before its development (Consultation), during its development (Development), after the drafting of the document (Final), after its amendment in Parliament (Enactment) or after its enactment (Post-Implementation)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Department" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The department associated with the Impact Assessment</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Year" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The year of the Impact Assessment</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Number" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The document number of the Impact Assessment</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Language" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The language of the Impact Assessment</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Size" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>The filesize of the Impact Assessment in kb</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="EnactmentDate">
		<xsd:annotation>
			<xsd:documentation>Date of enactment (used in primary legislation)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Sifted">
		<xsd:annotation>
			<xsd:documentation><h:p>Indicates the end date of a sifting period, for items that relate to exiting the EU. Sifting refers to a period that allows 10 sitting days for a committee of each House in Parliament to recommend whether a draft EU Exit SI should be subject to negative or affirmative procedure.</h:p>

				<h:p>A Minister of the Crown may make EU Exit instruments that are subject to sifting for up to two years after the end of the transition period, under section 8 of the European Union (Withdrawal Act) 2018 or under section 31 of the European Union (Future Relationship) Act 2020.</h:p></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required"/>
			<xsd:attribute name="Time" type="xsd:time"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Made">
		<xsd:annotation>
			<xsd:documentation>Indicates the date (and optionally the time) when the document was signed (made) by a minister or person with authority under the Act. The <h:code>Date</h:code> attribute refers to the date when the document gets signed. For some documents it may also include a <h:code>Time</h:code> attribute.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required">
				<xsd:annotation>
					<xsd:documentation>Made date</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Time" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>Made time</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Laid">
		<xsd:annotation>
			<xsd:documentation>Indicates the date (and optionally the time) when the document was laid before a Parliament, Assembly or relevant body. This may occur once or more, or not at all. The <h:code>Date</h:code> attribute refers to the date when the document gets signed. For some documents it may also include a <h:code>Time</h:code> attribute.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required">
				<xsd:annotation>
					<xsd:documentation>The date on which the document was laid</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Time" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>The time at which the document was laid</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Class" use="required">
				<xsd:annotation>
					<xsd:documentation>The legislature before which the document was laid</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="NorthernIrelandAssembly"/>
						<xsd:enumeration value="ScottishParliament"/>
						<xsd:enumeration value="UnitedKingdomParliament"/>
						<xsd:enumeration value="WelshParliament">
							<xsd:annotation>
								<xsd:documentation>"WelshParliament" to be used for all new Welsh secondary legislation following http://www.legislation.gov.uk/anaw/2020/1/enacted#section-3</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="WelshAssembly"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ComingIntoForce">
		<xsd:annotation>
			<xsd:documentation>Contains one or more DateTime elements, each of which can store a date and (optionally) time. If desired, the different dates stated within the document when parts of the legislation come into force can be stored using this mechanism.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element name="DateTime">
					<xsd:complexType>
						<xsd:attribute name="Date" type="xsd:date" use="required"/>
						<xsd:attribute name="Time" type="xsd:time"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="TotalParagraphs">
		<xsd:annotation>
			<xsd:documentation>A count of all paragraphs in the document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:integer" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="BodyParagraphs">
		<xsd:annotation>
			<xsd:documentation>A count of paragraphs in the body of the document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:integer" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ScheduleParagraphs">
		<xsd:annotation>
			<xsd:documentation>A count of paragraphs in the schedules of the document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:integer" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="AttachmentParagraphs">
		<xsd:annotation>
			<xsd:documentation>A count of paragraphs in attachments of the document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:integer" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="TotalImages">
		<xsd:annotation>
			<xsd:documentation>A count of images in the document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:integer" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="RoyalPresence">
		<xsd:annotation>
			<xsd:documentation>The date of royal presence should be present where there has been a royal presence in passing the legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Resolution">
		<xsd:annotation>
			<xsd:documentation>This element only applies to secondary legislation that has a document subclass of resolution (which is very rare). It is the date of resolution of the document and the actual date is held in a Date attribute, which should be formatted as for the made date. The value should be taken from the Resolution element in the preliminary matter</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DepartmentCode">
		<xsd:annotation>
			<xsd:documentation>Certain document types may have a department code (also known as a domestic serial number) indicating the relevant Government department</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Year">
		<xsd:annotation>
			<xsd:documentation>For primary legislation it is the year of enactment. For secondary legislation it is related to the making of the document and the date of registration.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Number">
		<xsd:annotation>
			<xsd:documentation>The number associated with the document. For primary legislation this will be the chapter number, for secondary legislation it will be the registered number and for EU legislation it will be the number originally assigned by the European Publications Office.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ISBN">
		<xsd:annotation>
			<xsd:documentation>The ISBN of the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="AlternativeNumber">
		<xsd:annotation>
			<xsd:documentation>For pre-1963 primary legislation, the regnal year of the document. For secondary legislation, a subsidiary number for the document in an alternative numbering series (such as the Legal or Commencement series).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Category" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><h:p>The values that should be used in the Category attribute of this element are:</h:p>
					<h:ul>
						<h:li>C - Commencement and/or Appointed Day orders that bring into force an Act or part of an Act</h:li>
						<h:li>L - Legal series</h:li>
						<h:li>S - Scottish series</h:li>
						<h:li>NI - Northern Ireland series</h:li>
						<h:li>W - National Assembly for Wales series. Where the document is in Welsh the value will be Cy</h:li>
						<h:li>Regnal - Indicates the number is a regnal year</h:li>
					</h:ul>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Value" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>Holds the actual number/text for the AlternativeNumber.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DocumentClassification">
		<xsd:annotation>
			<xsd:documentation>A container for information about the document class.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DocumentCategory"/>
				<xsd:element ref="DocumentMainType"/>
				<xsd:element name="DocumentStatus">
					<xsd:annotation>
						<xsd:documentation>Defines the status (or stage) of the document. For secondary legislation this will be draft or final. For primary legislation this will be Bill or Act. Note Bills are not part of the scope at present.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Value" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="draft"/>
									<xsd:enumeration value="final"/>
									<xsd:enumeration value="revised"/>
									<xsd:enumeration value="proposed"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DocumentMinorType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Defines the subtype of the document. This currently only applies to secondary legislation</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Value" type="leg:UKMinorType" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DocumentCategory">
		<xsd:annotation>
			<xsd:documentation>Defines the category of the document. Currently the only possibilities are primary, secondary and euretained.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<!-- As part of #172192631 remove duplication of enumerated lists by re-using a common type -->
			<xsd:attribute name="Value" type="leg:CategoryType" use="required"/>
		</xsd:complexType>
	</xsd:element>	

	<xsd:element name="DocumentMainType">
		<xsd:annotation>
			<xsd:documentation>Defines the set of document types of UK legislation and legislation of EU origin that are available on Legislation.gov.uk</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="leg:DocumentMainType" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="UnappliedEffects">
		<xsd:annotation>
			<xsd:documentation>Lists any effects from legislation that have not yet been applied to the content of the document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element ref="UnappliedEffect"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="UnappliedEffect" type="EffectType">
		<xsd:annotation>
			<xsd:documentation>Defines an effect from another piece of legislation on this item of legislation (currently generated from effects spreadsheet).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="EffectType">
		<!-- Original more strict order did not match data
				<xsd:sequence>
				<xsd:element name="AffectedProvisions" type="ProvisionsStructure" minOccurs="0"/>
				<xsd:element name="AffectingProvisions" type="ProvisionsStructure" minOccurs="0"/>
				<xsd:element name="Commenced" type="ProvisionsStructure" minOccurs="0"/>
				<xsd:element name="AffectedTitle" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="AffectingTitle" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="Savings" type="ProvisionsStructure" minOccurs="0"/>
				<xsd:element name="CommencementAuthority" type="ProvisionsStructure" minOccurs="0"/>
				<xsd:element ref="InForceDates" minOccurs="0"/>
			</xsd:sequence>-->
		<!-- #113004935 -->
		<xsd:choice minOccurs="1" maxOccurs="unbounded">
			<xsd:element name="AffectedProvisions" type="ProvisionsStructure" minOccurs="0"/>
			<xsd:element name="AffectingProvisions" type="ProvisionsStructure" minOccurs="0"/>
			<xsd:element name="Commenced" type="ProvisionsStructure" minOccurs="0"/>
			<xsd:element ref="AffectedTitle" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AffectingTitle" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Savings" type="ProvisionsStructure" minOccurs="0"/>
			<xsd:element name="CommencementAuthority" type="ProvisionsStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Provide details of the provision giving authority for the In-Force date(s). If there is no commencement provision then there will be a value added 'N'. Where the commencement date is defined elsewhere, for example, in an Interpretation provision, then this provision also will be included as part of the Commencement Authority</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="InForceDates" minOccurs="0"/>
		</xsd:choice>
		<xsd:attribute name="New" type="xsd:boolean">
			<xsd:annotation>
				<xsd:documentation>Interimly used within the code. If set true, it means the effect is not present in the database and hence the Effect should be excluded from the 'update' list</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Type" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>Indicates the type of amendment that this effect represents, e.g. inserted, substituted, repealed, modified, extended and applied</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TypeNotes" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>This was used to store Notes and serve the same purpose as legacy:notes. Not used anymore (to process the spreadsheet), some effects still have this attribute value</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Notes" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Contains notes for the readers of legislation to clarify the operation or application of the effect. The field is often used to indicate that a particular effect will only come into force after another event occurs (such as the coming into force of a provision of a different item of legislation) or that the effect will not be applied to Legislation.gov.uk (for example, when the affecting provision is repealed before it comes into force). The Legislation.gov.uk 'Changes to Legislation' page displays these notes to the user</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Comments" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Contains notes to assist the legislation.gov.uk update editor in applying the amendment to the affected item of legislation</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingURI" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>A link to the legislation (and the section within it) that affects this one. Or (if AffectingUpTo is also present), a link to the first section affecting this one.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingClass" type="leg:DocumentMainType" use="required">
			<xsd:annotation>
				<xsd:documentation>The DocumentMainType of the affecting document</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingYear" type="xsd:gYear" use="required">
			<xsd:annotation>
				<xsd:documentation>The year in which the affecting document was published</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingNumber" type="xsd:positiveInteger" use="required">
			<xsd:annotation>
				<xsd:documentation>The affecting document's number</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingProvisions" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>A string representation of the affecting provision(s) from which the effect originates</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectedURI" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>A link to the section in this legislation that has been affected. Or (if the AffectedUpTo attribute is also present), a link to the first of the affected sections.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectedClass" type="leg:DocumentMainType" use="required">
			<xsd:annotation>
				<xsd:documentation>The DocumentMainType of the affected document</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectedYear" type="xsd:gYear" use="required">
			<xsd:annotation>
				<xsd:documentation>The year in which the affected document was published</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectedNumber" type="xsd:positiveInteger" use="required">
			<xsd:annotation>
				<xsd:documentation>The affected document's number</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectedProvisions" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>A string representation of the affected provision(s) that the effect amends or modifies</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Index" type="xsd:integer">
			<xsd:annotation>
				<xsd:documentation>An Integer value, not in use anymore for spreadsheet processing. But some bulk uploaded data still contains uses it, having the index number of Effect in the uploaded spreadsheet</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Row" type="xsd:integer">
			<xsd:annotation>
				<xsd:documentation>Used to store the row number of the spreadsheet, from where the specific Effect data came from</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Modified" type="xsd:dateTime">
			<xsd:annotation>
				<xsd:documentation>Records the date and time, indicating an Effect has been modified via Editorial system</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AppliedModified" type="xsd:dateTime">
			<xsd:annotation>
				<xsd:documentation>Records the date and time when the Applied status of the effect is changed</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="URI" type="xsd:anyURI">
			<xsd:annotation>
				<xsd:documentation>Used to store the previous Effect ID along with legislation base URI. Not an identifier for the Effect</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Created" type="xsd:dateTime">
			<xsd:annotation>
				<xsd:documentation>Records the date and time of its creation, i.e. indicating an Effect has been created via Editorial system. Incase of bulk upload, this value might be the date when it was first added in Editorial system unless otherwise a creation dateTime value is known</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="EffectId" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>This is an unique ID for each effect, and is made up by combining the core key elements in an effect and generated MD5 hash code</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="RequiresApplied" type="xsd:boolean">
			<xsd:annotation>
				<xsd:documentation>Indicates whether or not the effect will be applied. For example, if the affecting provision is repealed or superseded before it comes into force, the effect will never come into force and so does not need to be applied. Where the affected item of legislation is a dual-language item (in English and Welsh), indicates whether or not the effect will be applied to the English text</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="RequiresWelshApplied" type="xsd:boolean" use="optional">
			<xsd:annotation>
				<xsd:documentation>Indicates, for effects on dual-language legislation (in English and Welsh), whether or not the effect will be applied to the Welsh text. For example, if the effect only amends the English text, the effect does not need to be applied to the Welsh text</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<!-- changed from ExtentType as data also contins "Same as affected" -->
		<xsd:attribute name="AffectedEffectsExtent" type="leg:AffectingExtentType">
			<xsd:annotation>
				<xsd:documentation>Indicates TOES application of the 'Affected Effects Extent'</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectedExtent" type="leg:ExtentType">
			<xsd:annotation>
				<xsd:documentation>Indicates TOES application of the 'Affected Provisions Extent'</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectedExtentSections" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Automatically generated by the Editorial system on bulk effects data load. No longer used in Editorial</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectedTerritorialApplication" type="leg:ExtentType">
			<xsd:annotation>
				<xsd:documentation>Indicates the territorial application of the affected provision(s). The editorial system uses this value to determine whether the effect’s extent/territorial application of the effect is smaller than that of the affected provision(s), i.e. the provisions it affects. If smaller, the original text or meaning of those provisions will remain unchanged in the territories to which the effect does not extend/apply, and the editor must indicate that the amendment only extends to/applies in specific territories when they carry out the amendment</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingCommencementSections" type="xsd:anyURI">
			<xsd:annotation>
				<xsd:documentation>This works same as that of 'CommencementAuthority', which details the provision giving authority for the In-Force date(s)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingEffectsExtent" type="leg:AffectingExtentType">
			<xsd:annotation>
				<xsd:documentation>Indicates TOES application of the Affecting Extent</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingExtent" type="leg:ExtentType">
			<xsd:annotation>
				<xsd:documentation>Indicates TOES application of the Affecting Provisions Extent</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingExtentSections" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Automatically generated by the Editorial system on bulk effects data load. No longer used in Editorial</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingRoyalAssent" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Date of royal assent. No longer used in new Effects data, but its values are held in TOES XML added as bulk upload</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AffectingTerritorialApplication" type="leg:ExtentType">
			<xsd:annotation>
				<xsd:documentation>Indicates the territorial application of the affecting provision(s)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="AppendedCommentary" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Used to add additional commentary information that will be displayed after the core effect commentary information which will be generated using the preceding Extended TOES columns</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="NewRandomSeq" type="xsd:integer"/>
		<!-- Looks like not in use anymore in Editorial -->
		<xsd:attributeGroup ref="errl:missingUnappliedEffect"/>

	</xsd:complexType>

	<xsd:complexType name="ProvisionsStructure" mixed="true">
		<xsd:annotation>
			<xsd:documentation>A complex type for defining the sets of provisions within TOES effects. These sets of provisions include the affecting provisions from which an effect originates, the affected provisions that the effect modifies, and any provisions bringing the effect into force or qualifying the effect</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element ref="Section"/>
			<xsd:element ref="SectionRange"/>
			<xsd:element name="Citation">
				<xsd:annotation>
					<xsd:documentation>Used within a "Commencement Order" effect to denote the item of legislation being commenced by the commencement order</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType mixed="true">
					<xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
					<xsd:attribute name="Class" type="leg:DocumentMainType"/>
					<xsd:attribute name="Year" type="xsd:gYear"/>
					<xsd:attribute name="Number" type="xsd:integer"/>
					<xsd:attribute name="Title" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>

	<xsd:element name="Section">
		<xsd:complexType mixed="true">
			<xsd:attribute name="Ref" type="xsd:NMTOKEN" use="required">
				<xsd:annotation>
					<xsd:documentation>Holds the identifier of the referenced provision</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
			<xsd:attribute name="FoundRef" type="xsd:NMTOKEN"/>
			<xsd:attribute name="Missing" type="xsd:boolean"/>
			<!-- added #153283251 -->
			<xsd:attribute name="Extent" type="leg:ExtentType"/>
			<xsd:attribute name="ExtentStatus" type="xsd:string"/>
			<xsd:attribute name="StartDate" type="xsd:string"/>
			<xsd:attribute name="StartDateStatus" type="xsd:string"/>

			<xsd:attributeGroup ref="errl:missingSection"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SectionRange">
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:element ref="Section" minOccurs="2" maxOccurs="2"/>
			</xsd:sequence>
			<xsd:attribute name="Start" type="xsd:NMTOKEN" use="required">
				<xsd:annotation>
					<xsd:documentation>Holds the identifier of the starting provision in a range of provisions</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="End" type="xsd:NMTOKEN" use="required">
				<xsd:annotation>
					<xsd:documentation>Holds the identifier of the ending provision in a range of provisions</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
			<xsd:attribute name="UpTo" type="xsd:anyURI" use="required"/>
			<xsd:attribute name="FoundStart" type="xsd:NMTOKEN"/>
			<xsd:attribute name="FoundEnd" type="xsd:NMTOKEN"/>
			<xsd:attribute name="MissingStart" type="xsd:boolean"/>
			<xsd:attribute name="MissingEnd" type="xsd:boolean"/>
			<xsd:attribute name="Missing" type="xsd:boolean"/>
			<xsd:attributeGroup ref="errl:missingSectionRange"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Citations">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Citation" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Citation">
		<xsd:annotation>
			<xsd:documentation>This describes a citations to the provision(s) being viewed. Defined by namespace http://www.legislation.gov.uk/namespaces/metadata and could have been deprecated</xsd:documentation>
			<xsd:documentation xmlns:h="http://www.w3.org/1999/xhtml">
				<h:p>Links to another document that cites the current document.</h:p>
				<h:p>This element does not normally appear in published CLML. The website uses this element to provide information for certain legislation pages—for example, the "Found References" page for items of legislation we do not hold, which lists the documents that cite the missing item.</h:p>
				<h:p>This ukm:Citation element is not the same as the ukm:Citation that appears within ukm:Effect and ukm:UnappliedEffect, nor the leg:Citation that appears within the text of a CLML document or the editorial metadata for CLML fragments.</h:p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Commentary" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
			<xsd:attribute name="Title" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Commentary">
		<xsd:complexType>
			<xsd:group ref="leg:ParaRestricted" maxOccurs="unbounded"/>
			<xsd:attribute name="Ref" use="required">
				<xsd:annotation>
					<xsd:documentation>A unique identifier in the format c000000</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:NCName">
						<xsd:pattern value="c[0-9]{5,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Type" type="leg:CommentaryType" use="required">
				<xsd:annotation>
					<xsd:documentation>Indicates the role of the commentary.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="AffectingTitle">
		<xsd:complexType mixed="true">
			<xsd:attribute ref="xml:lang"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="AffectedTitle">
		<xsd:complexType mixed="true">
			<xsd:attribute ref="xml:lang"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InForceDates">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InForce" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="InForce">
		<xsd:annotation>
			<xsd:documentation>
				<h:p>Represents an amendment.</h:p>
				<h:p>An effect has one amendment for each time its affecting provision (or more rarely, the effect itself) comes into force in full, in part or for specified extents or purposes. Each amendment for an effect is normally applied by an editor separately, although if two or more amendments apply on the same date an editor may combine them into a single application and mark them all as applied. If the affecting provision or effect is prospective (that is, it is not in force and no provision of legislation is set to bring it into force), then the effect will either have an amendment with Prospective="true" or no amendments at all.</h:p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element name="CommencingProvisions" type="ProvisionsStructure" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="CommencingSavings" type="ProvisionsStructure" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="AffectingClass" type="leg:DocumentMainType"/>
			<xsd:attribute name="Applied" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Indicates if the amendment has been applied to the text of the affected provision(s). Where the affected item of legislation is a dual-language item (in English and Welsh), indicates if the amendment has been applied to the English text</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="WelshApplied" type="xsd:boolean" use="optional">
				<xsd:annotation>
					<xsd:documentation>Indicates, for amendments to dual-language legislation (in English and Welsh), whether the amendment has been applied to the Welsh text</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="AppendedCommentary" type="xsd:string"/>
			<xsd:attribute name="CommencingClass" type="leg:DocumentMainType"/>
			<xsd:attribute name="CommencingNumber" type="xsd:string"/>
			<xsd:attribute name="CommencingURI" type="xsd:anyURI"/>
			<xsd:attribute name="CommencingYear" type="xsd:string"/>
			<xsd:attribute name="Comments" type="xsd:string"/>
			<xsd:attribute name="Date" type="xsd:date"/>
			<xsd:attribute name="Notes" type="xsd:string"/>
			<xsd:attribute name="OtherQualification" type="xsd:string"/>
			<xsd:attribute name="Prospective" type="xsd:boolean"/>
			<xsd:attribute name="Qualification" type="xsd:string" use="required"/>
			<!-- #171654037 enforce a choice of enumerated values for Qualification attribute of InForce element (including empty string for historical reasons)
				My be implemented in a future version
				<xsd:attribute name="Qualification" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="wholly in force"/>
						<xsd:enumeration value="in force in so far as not already in force"/>
						<xsd:enumeration value="for specified purposes"/>
						<xsd:enumeration value="for E.W.S."/>
						<xsd:enumeration value="for E.W."/>
						<xsd:enumeration value="for E."/>
						<xsd:enumeration value="for W."/>
						<xsd:enumeration value="for S."/>
						<xsd:enumeration value="for N.I."/>
						<xsd:enumeration value="for E.W.N.I."/>
						<xsd:enumeration value="for S.N.I."/>
						<xsd:enumeration value="for E.W.S. for specified purposes"/>
						<xsd:enumeration value="for E.W. for specified purposes"/>
						<xsd:enumeration value="for E. for specified purposes"/>
						<xsd:enumeration value="for W. for specified purposes"/>
						<xsd:enumeration value="for S. for specified purposes"/>
						<xsd:enumeration value="for N.I. for specified purposes"/>
						<xsd:enumeration value="for E.W.N.I. for specified purposes"/>
						<xsd:enumeration value="for S.N.I. for specified purposes"/>
						<xsd:enumeration value="retrospective"/>
						<xsd:enumeration value="with effect in accordance with"/>
						<xsd:enumeration value="with application in accordance with"/>
						<xsd:enumeration value="for specified purposes and with effect in accordance with"/>
						<xsd:enumeration value="for specified purposes and with application in accordance with"/>
						<xsd:enumeration value="retrospective and with effect in accordance with"/>
						<xsd:enumeration value="retrospective and with application in accordance with"/>
						<xsd:enumeration value="coming into force in accordance with"/>
						<xsd:enumeration value="Other"/>
						<xsd:enumeration value=""/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>-->
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="OtherDocuments">
		<xsd:annotation>
			<xsd:documentation>Metadata for other documents that do not fit any of the other options; covers Explanatory Documents as well as more random documents</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="OtherDocument" maxOccurs="unbounded" type="AlterType">
					<xsd:annotation>
						<xsd:documentation>Links to an associated document that that is not defined by another AlterType or IAalterType element - for example, a Post Implementation Review (PIR)</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="TranspositionNotes">
		<xsd:annotation>
			<xsd:documentation>Metadata for Transposition Notes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TranspositionNote" maxOccurs="unbounded" type="AlterType">
					<xsd:annotation>
						<xsd:documentation>Links to a transposition note, which explains how the document implements a particular European Directive</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="UKRPCOpinions">
		<xsd:annotation>
			<xsd:documentation>Metadata for UK Regulatory Policy Committee Opinions on Impact Assessments</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UKRPCOpinion" maxOccurs="unbounded" type="IAalterType">
					<xsd:annotation>
						<xsd:documentation>Links to an associated UK Regulatory Policy Committee Opinion</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
