schema/schemaLegislationBoxGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.legislation.gov.uk/namespaces/legislation" xmlns="http://www.legislation.gov.uk/namespaces/legislation" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" 
	version="2.4" id="SchemaLegislationBoxGroup">
	<xsd:annotation>
		<xsd:appinfo xmlns:dcq="http://purl.org/dc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/">
			<dc:title>Box Group Schema</dc:title>
			<dc:description>Describes decorated boxes</dc:description>
			<dc:contributor>Paul Appleby, Peter Lazar</dc:contributor>
			<dc:creator>TSO</dc:creator>
			<dc:identifier>SchemaLegislationBoxGroup</dc:identifier>
			<dc:language>en</dc:language>
			<dc:publisher>The Stationery Office</dc:publisher>
			<dc:rights>Crown copyright 2018</dc:rights>
			<dc:date>
				<dcq:created>2003-03-20</dcq:created>
			</dc:date>
			<dc:date>
				<dcq:modified>2018-11-20</dcq:modified>
			</dc:date>
			<xsd:documentation>
			Modification information
			Version		Name				Modification
			2.4         Karl Rajangam   		Modified annotation for DecoratedGroup and Orientation
			2.0			Colin Mackenzie		Numbering restarted at 2 for new EU and merged schema
			1.0			Paul Appleby		Created
			</xsd:documentation>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="DecoratedGroup">
		<xsd:annotation>
			<xsd:documentation xmlns:h="http://www.w3.org/1999/xhtml">
				<h:p>A mechanism for adding accolades to blocks of text (usually a right brace). Accolades are very long vertical or horizontal objects that typically occur within tables and are used to “group” content together by visual presentation. The element exists so that the “grouping” concept is held structurally within the XML mark-up and the decoration (normally a brace) can then be auto-generated for output.</h:p>  
           <h:p>Usually a decorated group will be made up of two <h:code>&lt;GroupItem&gt;</h:code> elements, the first containing the text of the first half of the content and the second one containing the second half of the content.</h:p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GroupItem"/>
				<xsd:choice>
					<xsd:element ref="GroupItem"/>
					<xsd:element ref="GroupItemRef"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attribute name="Orientation" use="required">
				<xsd:annotation>
					<xsd:documentation xmlns:h="http://www.w3.org/1999/xhtml">
						<h:p>Specifies the orientation of the accolade</h:p>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="leftToRight">
							<xsd:annotation>
								<xsd:documentation>Group item 1 on the left, group item 2 on the right, accolade should be output as normal</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="topToBottom">
							<xsd:annotation>
								<xsd:documentation>Group item 1 on the top, group item 2 on the bottom, accolade should be rotated 90 degrees right</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="bottomToTop">
							<xsd:annotation>
								<xsd:documentation>Group item 1 on the bottom, group item 2 on the top, accolade should be rotated 90 degrees left</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="rightToLeft">
							<xsd:annotation>
								<xsd:documentation>Group item 1 on the right, group item 2 on the left, accolade should be flipped from right to left</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Decoration" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GroupItem">
		<xsd:annotation>
			<xsd:documentation>A item in a decorated group. This is a container element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:group ref="TableCell" maxOccurs="unbounded"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GroupItemRef">
		<xsd:annotation>
			<xsd:documentation xmlns:h="http://www.w3.org/1999/xhtml">
				<h:p>Describes a link to the right-hand side of the decorated group.</h:p>
				<h:p>Sometimes the second half of the content is in an adjacent table cell so grouping of the content is not possible across the cell boundaries. The solution is to use a GroupItemRef element instead of GroupItem. This uses a Ref attribute to reference an id on the associated cell.</h:p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Ref" type="xsd:IDREF" use="required"/>
			<xsd:attributeGroup ref="CommonAttributes"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
