schema/schemaLegislationStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.legislation.gov.uk/namespaces/legislation"
	targetNamespace="http://www.legislation.gov.uk/namespaces/legislation"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="2.0" id="SchemaStructure"
	xmlns:err="http://www.tso.co.uk/assets/namespace/error">

	<xsd:annotation>
		<xsd:appinfo xmlns:dcq="http://purl.org/dc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/">
			<dc:title>Schema High-level Structure</dc:title>
			<dc:description>Defines the high-level structures that are containers for content</dc:description>
			<dc:contributor>Paul Appleby</dc:contributor>
			<dc:creator>TSO</dc:creator>
			<dc:identifier>SchemaStructure</dc:identifier>
			<dc:language>en</dc:language>
			<dc:publisher>The Stationery Office</dc:publisher>
			<dc:rights>Crown copyright 2018</dc:rights>
			<dc:date>
				<dcq:created>2004-10-18</dcq:created>
			</dc:date>
			<dc:date>
				<dcq:modified>2018-11-20</dcq:modified>
			</dc:date>
			<xsd:documentation>
			Modification information
			Version		Name				Modification
			2.0			Colin Mackenzie		Numbering restarted at 2 for new EU and merged schema
			1.5			Paul Appleby		Added Group element
			1.4			Paul Appleby		Allowed Title to repeat on Part, Chapter, Pblock and PsubBlock
			1.3			Paul Appleby		Allowed P2 and P2group
			1.2			Paul Appleby		Added Reference to Pblock and PsubBlock
			1.1			Paul Appleby		Loosened content structures to allow for increasing level of structure running on from smaller structures
			1.0			Paul Appleby		Created
			</xsd:documentation>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:import namespace="http://www.tso.co.uk/assets/namespace/error"
		schemaLocation="../schemaModules/errors.xsd"/>
	<xsd:element name="Group">
		<xsd:annotation>
			<xsd:documentation>Highest level container of the five major Body content structures with headings</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommentaryRef" minOccurs="0" maxOccurs="unbounded" />
				<xsd:group maxOccurs="unbounded" minOccurs="0" ref="err:Errors"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="Number"/>
						<xsd:element ref="Title" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:element ref="Title" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:element ref="Reference" minOccurs="0"/>
				<xsd:choice maxOccurs="unbounded">
					<xsd:choice maxOccurs="unbounded">
						<xsd:element ref="P" maxOccurs="unbounded"/>
						<xsd:element ref="P1" maxOccurs="unbounded"/>
						<xsd:element ref="P1group" maxOccurs="unbounded"/>
						<xsd:element ref="P2" maxOccurs="unbounded"/>
						<xsd:element ref="P2group" maxOccurs="unbounded"/>
						<xsd:element ref="Part" maxOccurs="unbounded"/>
						<xsd:element ref="Chapter" maxOccurs="unbounded"/>
						<xsd:element ref="Pblock" maxOccurs="unbounded"/>
						<xsd:element ref="PsubBlock" maxOccurs="unbounded"/>
						<xsd:element ref="BlockAmendment" maxOccurs="unbounded"/>
					</xsd:choice>
					<xsd:element ref="Tabular"/>
					<xsd:element ref="Figure"/>
					<xsd:element ref="Form"/>
					<xsd:element ref="IncludedDocument"/>
					<xsd:element ref="Include"/>
					<xsd:group ref="err:Errors"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonSubAttributes"/>
			<xsd:attributeGroup ref="PelementIDattributes"/>
			<xsd:attributeGroup ref="FragmentAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Part">
		<xsd:annotation>
			<xsd:documentation>Second highest level container of the five major Body content structures with headings</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommentaryRef" minOccurs="0" maxOccurs="unbounded" />
				<xsd:group maxOccurs="unbounded" minOccurs="0" ref="err:Errors"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="Number"/>
						<xsd:element ref="Title" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:element ref="Title" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:element ref="Reference" minOccurs="0"/>
				<xsd:choice maxOccurs="unbounded">
					<xsd:choice maxOccurs="unbounded">
						<xsd:element ref="P" maxOccurs="unbounded"/>
						<xsd:element ref="P1" maxOccurs="unbounded"/>
						<xsd:element ref="P1group" maxOccurs="unbounded"/>
						<xsd:element ref="P2" maxOccurs="unbounded"/>
						<xsd:element ref="P2group" maxOccurs="unbounded"/>
						<xsd:element ref="Chapter" maxOccurs="unbounded"/>
						<xsd:element ref="Pblock" maxOccurs="unbounded"/>
						<xsd:element ref="PsubBlock" maxOccurs="unbounded"/>
						<xsd:element ref="BlockAmendment" maxOccurs="unbounded"/>
					</xsd:choice>
					<xsd:element ref="Tabular"/>
					<xsd:element ref="Figure"/>
					<xsd:element ref="Form"/>
					<xsd:element ref="IncludedDocument"/>
					<xsd:element ref="Include"/>
					<xsd:group ref="err:Errors"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonSubAttributes"/>
			<xsd:attributeGroup ref="PelementIDattributes"/>
			<xsd:attributeGroup ref="FragmentAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Chapter">
		<xsd:annotation>
			<xsd:documentation>Third highest level container of the five major Body content structures with headings</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommentaryRef" minOccurs="0" maxOccurs="unbounded" />
				<xsd:group maxOccurs="unbounded" minOccurs="0" ref="err:Errors"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="Number"/>
						<xsd:element ref="Title" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:element ref="Title" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:element ref="Reference" minOccurs="0"/>
				<xsd:choice maxOccurs="unbounded">
					<xsd:choice maxOccurs="unbounded">
						<xsd:element ref="P" maxOccurs="unbounded"/>
						<xsd:element ref="P1" maxOccurs="unbounded"/>
						<xsd:element ref="P1group" maxOccurs="unbounded"/>
						<xsd:element ref="P2" maxOccurs="unbounded"/>
						<xsd:element ref="P2group" maxOccurs="unbounded"/>
						<xsd:element ref="Pblock" maxOccurs="unbounded"/>
						<xsd:element ref="PsubBlock" maxOccurs="unbounded"/>
						<xsd:element ref="BlockAmendment" maxOccurs="unbounded"/>
					</xsd:choice>
					<xsd:element ref="Tabular"/>
					<xsd:element ref="Figure"/>
					<xsd:element ref="Form"/>
					<xsd:element ref="IncludedDocument"/>
					<xsd:element ref="Include"/>
					<xsd:group ref="err:Errors"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonSubAttributes"/>
			<xsd:attributeGroup ref="PelementIDattributes"/>
			<xsd:attributeGroup ref="FragmentAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Pblock">
		<xsd:annotation>
			<xsd:documentation>Fourth highest level container of the five major Body content structures with headings</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommentaryRef" minOccurs="0" maxOccurs="unbounded" />
				<xsd:group maxOccurs="unbounded" minOccurs="0" ref="err:Errors"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="Number"/>
						<xsd:element ref="Title" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:element ref="Title" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:element ref="Reference" minOccurs="0"/>
				<xsd:choice maxOccurs="unbounded">
					<xsd:choice maxOccurs="unbounded">
						<xsd:element ref="P" maxOccurs="unbounded"/>
						<xsd:element ref="P1" maxOccurs="unbounded"/>
						<xsd:element ref="P1group" maxOccurs="unbounded"/>
						<xsd:element ref="P2" maxOccurs="unbounded"/>
						<xsd:element ref="P2group" maxOccurs="unbounded"/>
						<xsd:element ref="PsubBlock" maxOccurs="unbounded"/>
						<xsd:element ref="BlockAmendment" maxOccurs="unbounded"/>
					</xsd:choice>
					<xsd:element ref="Tabular"/>
					<xsd:element ref="Figure"/>
					<xsd:element ref="Form"/>
					<xsd:element ref="IncludedDocument"/>
					<xsd:element ref="Include"/>
					<xsd:group ref="err:Errors"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonSubAttributes"/>
			<xsd:attributeGroup ref="PelementIDattributes"/>
			<xsd:attributeGroup ref="FragmentAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PsubBlock">
		<xsd:annotation>
			<xsd:documentation>Fifth highest level container of the five major Body content structures with headings</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommentaryRef" minOccurs="0" maxOccurs="unbounded" />
				<xsd:group maxOccurs="unbounded" minOccurs="0" ref="err:Errors"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="Number"/>
						<xsd:element ref="Title" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:element ref="Title" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:element ref="Reference" minOccurs="0"/>
				<xsd:choice maxOccurs="unbounded">
					<xsd:choice maxOccurs="unbounded">
						<xsd:element ref="P" maxOccurs="unbounded"/>
						<xsd:element ref="P1" maxOccurs="unbounded"/>
						<xsd:element ref="P1group" maxOccurs="unbounded"/>
						<xsd:element ref="P2" maxOccurs="unbounded"/>
						<xsd:element ref="P2group" maxOccurs="unbounded"/>
						<xsd:element ref="BlockAmendment" maxOccurs="unbounded"/>
					</xsd:choice>
					<xsd:element ref="Tabular"/>
					<xsd:element ref="Figure"/>
					<xsd:element ref="Form"/>
					<xsd:element ref="IncludedDocument"/>
					<xsd:element ref="Include"/>
					<xsd:group ref="err:Errors"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonSubAttributes"/>
			<xsd:attributeGroup ref="PelementIDattributes"/>
			<xsd:attributeGroup ref="FragmentAttributes"/>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
