schema/schemaLegislationContents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.legislation.gov.uk/namespaces/legislation"
	xmlns="http://www.legislation.gov.uk/namespaces/legislation"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="2.4" id="SchemaLegislationContents">

	<xsd:annotation>
		<xsd:appinfo xmlns:dcq="http://purl.org/dc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/">
			<dc:title>Legislation Contents Schema</dc:title>
			<dc:description>This schema describes a general table of contents structure</dc:description>
			<dc:contributor>Paul Appleby</dc:contributor>
			<dc:creator>TSO</dc:creator>
			<dc:identifier>SchemaLegislationContents</dc:identifier>
			<dc:language>en</dc:language>
			<dc:publisher>The Stationery Office</dc:publisher>
			<dc:rights>Crown copyright 2018</dc:rights>
			<dc:date>
				<dcq:created>2003-10-20</dcq:created>
			</dc:date>
			<dc:date>
				<dcq:modified>2021-05-04</dcq:modified>
			</dc:date>
			<xsd:documentation>
			Modification information
			Version		Name				Modification
			2.4			Karl Rajangam		Annotation updated/added for elements Contents and attribute Generated
			2.1			Colin Mackenzie		Removed default values from ContentAttributes (was added as part of unified schema merge) see issue #171599021
			2.0			Colin Mackenzie		Numbering restarted at 2 for new EU and merged schema
			1.4			Jim Mangiafico		Revised for EU legislation
			1.3			Colin Mackenzie		Restructured to promote use of single common definitions between legislation and Explanatary Notes
			1.2			Paul Appleby		Added ContentsGroup
			1.1			Paul Appleby		Altered ContentsNumber to InlineRestrictedStructure
			1.0			Paul Appleby		Created
			</xsd:documentation>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element name="Contents" type="ContentsType">
		<xsd:annotation>
			<xsd:documentation>The contents for the legislation. These are now normally auto-generated by the legislation website, so these elements continue to appear in data available via the API and held in the legislation.gov.uk database, but their use in editing is deprecated. Also used in explanatory note and memorandum contents</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ContentsNumber" type="InlineRestrictedStructure">
		<xsd:annotation>
			<xsd:documentation>The number of a heading or an item in the contents</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="ContentsTitle">
		<xsd:annotation>
			<xsd:documentation>The title of an entry in the contents</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		  <xsd:complexContent mixed="true">
			<xsd:extension base="InlineFullStructure">
				<xsd:attribute name="Generated" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>This is added if and when there is no title for the provision that is being included in the ToC. In such cases, a function is called to take an abridged collection of words from the first textual content of the provision and the attribute is added with the value of true to provide explicit indication that the ToC item was generated from textual content, and not a title</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<!-- 2013-02-14T12:31:43Z DP. Added to resolve @Contentref on this element. -->
				<xsd:attributeGroup ref="ContentsAttributes"/>
			</xsd:extension>
		  </xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentsGroup">
		<xsd:annotation>
			<xsd:documentation>A contents entry for a group (generally of parts). This should correspond to a group in the body of the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentsNumber" minOccurs="0"/>
				<xsd:element ref="ContentsTitle" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="ContentsPart"/>
					<xsd:element ref="ContentsChapter"/>
					<xsd:element ref="ContentsPblock"/>
					<xsd:element ref="ContentsItem"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="ContentsAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentsPart">
		<xsd:annotation>
			<xsd:documentation>A contents entry for a part. This should correspond to a part in the body of the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentsNumber" minOccurs="0"/>
				<xsd:element ref="ContentsTitle" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="ContentsChapter"/>
					<xsd:element ref="ContentsPblock"/>
					<xsd:element ref="ContentsItem"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="ContentsAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentsChapter">
		<xsd:annotation>
			<xsd:documentation>A contents entry for a chapter. This should correspond to a chapter in the body of the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentsNumber" minOccurs="0"/>
				<xsd:element ref="ContentsTitle" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="ContentsPblock"/>
					<xsd:element ref="ContentsItem"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="ContentsAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentsPblock">
		<xsd:annotation>
			<xsd:documentation>A contents entry for a pBlock. This should correspond to a pBlock in the body of the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentsNumber" minOccurs="0"/>
				<xsd:element ref="ContentsTitle" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="ContentsPsubBlock"/>
					<xsd:element ref="ContentsItem"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="ContentsAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentsPsubBlock">
		<xsd:annotation>
			<xsd:documentation>A contents entry for a pSubBlock. This should correspond to a pSubBlock in the body of the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentsNumber" minOccurs="0"/>
				<xsd:element ref="ContentsTitle"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="ContentsItem"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="ContentsAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentsItem">
		<xsd:annotation>
			<xsd:documentation>An entry in the contents. This should correspond to a p1group in the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentsNumber"/>
				<xsd:element ref="ContentsTitle"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="ContentsSubItem"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="ContentsAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentsSubItem">
		<xsd:annotation>
			<xsd:documentation>A contents entry for a subsection of the docunment. This should correspond to a p2 or lower in the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentsNumber" minOccurs="0"/>
				<xsd:element ref="ContentsTitle"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="ContentsSubItem"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="ContentsAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentsSchedules">
		<xsd:annotation>
			<xsd:documentation>A contents entry for the schedules. This should correspond to the schedules of the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentsTitle" minOccurs="0"/>
				<xsd:sequence>
					<xsd:element ref="ContentsSchedule" maxOccurs="unbounded"/>
					<xsd:element ref="ContentsAppendix" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="ContentsAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentsSchedule">
		<xsd:annotation>
			<xsd:documentation>A contents entry for a schedule. This should correspond to a schedule in the schedules of the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentsNumber" minOccurs="0"/>
				<xsd:element ref="ContentsTitle" minOccurs="0"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="ContentsGroup"/>
					<xsd:element ref="ContentsPart"/>
					<xsd:element ref="ContentsChapter"/>
					<xsd:element ref="ContentsEUPart"/>
					<xsd:element ref="ContentsEUTitle"/>
					<xsd:element ref="ContentsEUChapter"/>
					<xsd:element ref="ContentsEUSection"/>
					<xsd:element ref="ContentsDivision"/>
					<xsd:element ref="ContentsPblock"/>
					<xsd:element ref="ContentsItem"/>
				</xsd:choice>
				<xsd:element ref="ContentsAppendix" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="ContentsAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentsAppendix">
		<xsd:annotation>
			<xsd:documentation>A contents entry for an appendix. This should correspond to an appendix in the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentsNumber" minOccurs="0"/>
				<xsd:element ref="ContentsTitle" minOccurs="0"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="ContentsGroup"/>
					<xsd:element ref="ContentsPart"/>
					<xsd:element ref="ContentsChapter"/>
					<xsd:element ref="ContentsEUPart"/>
					<xsd:element ref="ContentsEUTitle"/>
					<xsd:element ref="ContentsEUChapter"/>
					<xsd:element ref="ContentsEUSection"/>
					<xsd:element ref="ContentsDivision"/>
					<xsd:element ref="ContentsPblock"/>
					<xsd:element ref="ContentsItem"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="CommonAttributes"/>
			<xsd:attributeGroup ref="ContentsAttributes"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:attributeGroup name="ContentsAttributes">
		<xsd:attribute name="ContentRef" type="xsd:NCName">
			<xsd:annotation>
				<xsd:documentation>Hyperlinks from contents should be autogenerated for contents. However, for legacy data there are some entries that can not be automatically linked. This attribute provides a cross-reference function that would override any autogenerated link</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="OptionalURIs"/>
		<xsd:attributeGroup ref="FragmentAttributes"/>
		<!-- removed default values for issue #171599021
			<xsd:attribute default="false" name="MatchText" type="xsd:boolean">-->
		<xsd:attribute name="MatchText" type="xsd:boolean">
			<xsd:annotation>
				<xsd:documentation>Indicates whether the related section contains text that matches the query.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<!-- removed default values issue #171599021
			<xsd:attribute default="false" name="MatchExtent" type="xsd:boolean">-->
		<xsd:attribute name="MatchExtent" type="xsd:boolean">
			<xsd:annotation>
				<xsd:documentation>Indicates whether the related section has the extent specified by the query.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>

</xsd:schema>
